* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  header,
  main,
  footer {
    font-family: Arial, Helvetica, sans-serif;
  }
}

.content-wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

@mixin header-link {
  background-color: lightcoral;
  color: white;
  height: 50px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

header {
  display: flex;
  background-color: lightblue;
  height: 100px;
  justify-content: flex-end;
  .title {
    flex-grow: 1;
    h1 {
      margin: 20px;
    }
  }
  nav {
    width: 40%;
    display: flex;
    align-items: center;
    column-gap: 50px;
    .nav-element {
      /*display: flex;
      width: 100px;
      background-color: lightcoral;
      border-radius: 5px;*/
      .nav-link {
        position: relative;
        display: inline-block;
        button {
          cursor: pointer;
          @include header-link();
          &:hover {
            background-color: lightgreen;
          }
        }
      }

      /* ----------------------- Dropdown Menu ----------------------------------*/
      /* The container <div> - needed to position the dropdown content */
      .nav-dropdown {
        position: relative;
        display: inline-block;
        &:hover {
          /* Show the dropdown menu on hover */
          .dropdown-content {
            display: block;
          }
          button {
            background-color: lightgreen;
          }
        }
        /* Dropdown Button */
        .dropbtn {
          @include header-link();
        }
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          a {
            background-color: #f1f1f1;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            /* Change color of dropdown links on hover */
            &:hover {
              background-color: #ddd;
            }
          }
        }
      }
    }
  }
}

main {
  flex-grow: 1;
}

footer {
  height: 100px;
  background-color: lightblue;
}
