<h1><%=@category.name%> </h1>
<% if @category.name == "all"%>
  <%@products.each do |product|%>
    <%= link_to product.title, category_product_path(@category,product) %><br/>
  <%end%>
<%else%>
  <% @associated_products.each do |product|%>
    <%= link_to product.title, category_product_path(@category,product) %><br/>
  <%end%>
<%end%>
