<header>
    <div class="title">
        <h1>Rails blog</h1>
    </div>
   
    <nav>
        <div class="nav-element">
            <%=link_to "Main page", root_path%>
        </div>
        <div class="nav-element">
            <%=link_to "Main page", root_path%>
        </div>
        <div class="nav-element">
            <%=link_to "Main page", root_path%>
        </div>
    </nav>
</header>